*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 420px;
    height: min-content;
    border-radius: 12px;
    padding: 25px;
    background-color: aqua;
}
.search{
    width: 380px;
    height: min-content;
    display:  block;
    text-align: center;
    margin: auto;
}
.search input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
}
.header{
    height: 50px;
}
.header p{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.bt{
    height: 30px;
    width: 50px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 10px;
    margin: auto;
}
.btn{
    height: 26px;
}
.disp{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    display:  block;
    text-align: center;
    margin: auto;
}
